					 <div class="row">
                          <div class="col-md-3">
                              <div class="form-group">
                                  <label class="col-form-label" for="tarif">Tarif :</label>
                                  <input class="form-control" type="text" name="tarif" id="tarif">
                              </div>
                          </div>
                          <div class="col-md-9">
                              <div class="form-group">
                                  <label class="col-form-label" for="description">Description :</label>
                                  <input class="form-control" type="text" name="description" id="description">
                              </div>
                          </div>
                      </div>