<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Vehicle Model Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.jpg" rel="icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Mar 09 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
	<div th:replace="~{header.html}"></div>
  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">
   <div th:replace="~{menu.html}"></div>
  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>List Of Vehicle Models</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Vehicle Models</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
	
	<button type="button" class="btn btn-primary mb-4 add-button" data-bs-toggle="modal" data-bs-target="#manageVehicleModel">
                Add Vehicle Model
    </button>
              
	<div class="card">
            <div class="card-body">
              <!-- Default Table -->
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#ID</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">DETAILS</th>
                    <th scope="col">ACTIONS</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="vehicleModel : ${vehicleModels}">
					<td th:text="${vehicleModel.id}"></td>
					<td th:text="${vehicleModel.description}"></td>
                    <td th:text="${vehicleModel.details}"></td>
                    <td>
                      <div class="btn-group">
						<a class="btn btn-outline-secondary show-button" 
					    		data-bs-toggle="modal" data-bs-target="#manageVehicleModel"
					    		th:attr="data-vehicleModel-id=${vehicleModel.id},
					    				 data-vehicleModel-description=${vehicleModel.description},
				                		 data-vehicleModel-details=${vehicleModel.details},
				                		 data-vehicleModel-createdBy=${vehicleModel.createdBy},
				                		 data-vehicleModel-createdDate=${vehicleModel.createdDate},
				                		 data-vehicleModel-lastModifiedBy=${vehicleModel.lastModifiedBy},
				                		 data-vehicleModel-lastModifiedDate=${vehicleModel.lastModifiedDate}">
					    	<i class="far fa-eye" title="Details"></i>
					    </a>
                         <a class="btn btn-outline-primary edit-button"
				                data-bs-toggle="modal" data-bs-target="#manageVehicleModel"
				                th:attr="data-vehicleModel-id=${vehicleModel.id}, 
				                		 data-vehicleModel-description=${vehicleModel.description},
				                		 data-vehicleModel-details=${vehicleModel.details}">
          					<i class="fas fa-edit" title="Edit"></i>
        				</a>
					    <a class="btn btn-outline-danger delete-button" 
					    		data-bs-toggle="modal" data-bs-target="#deleteVehicleModel"
					    		th:attr="data-vehicleModel-id=${vehicleModel.id}">
					    	<i class="fas fa-trash-alt" title="Delete"></i>
					    </a>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <!-- End Default Table Example -->
            </div>
    </div>
          
          
     <!-- Add Modal -->
              <div class="modal fade" id="manageVehicleModel" tabindex="-1" data-bs-backdrop="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modal-title">Adding a new Vehicle Model</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <form th:action="@{/vehiclemodel/addnew}" id="formVehicleModel" method="post">
						  <input type="hidden" class="form-control" id="id" name="id" readonly>
						  <div class="form-group">
				            <label for="description" class="col-form-label">Description:</label>
				            <input required type="text" class="form-control" id="description" name="description">
				          </div>
				          <div class="form-group">
				            <label for="details" class="col-form-label">Details:</label>
				            <input type="text" class="form-control" id="details" name="details">
				          </div>
				          <div class="row">
					          <div class="col">
					            <label for="createdBy" id="lblcreatedBy" class="col-form-label">created By:</label>
					            <input type="text" class="form-control" id="createdBy" name="createdBy">
					          </div>
					          <div class="col">
					            <label for="createdDate"id="lblcreatedDate" class="col-form-label">created Date:</label>
					            <input type="text" class="form-control" id="createdDate" name="createdDate">
					          </div>
					      </div>
					      <div class="row">
					          <div class="col">
					            <label for="lastModifiedBy" id="lbllastModifiedBy" class="col-form-label">Last Updated By:</label>
					            <input type="text" class="form-control" id="lastModifiedBy" name="lastModifiedBy">
					          </div>
					          <div class="col">
					            <label for="lastModifiedDate" id="lbllastModifiedDate" class="col-form-label">Last Updated On:</label>
					            <input type="text" class="form-control" id="lastModifiedDate" name="lastModifiedDate">
				          	  </div>
				          </div>
	                      <div class="modal-footer">
							<button type="submit" class="btn btn-primary" id="submit" >Ajouter</button>
	                        <button type="button" class="btn btn-danger" id="cancel" data-bs-dismiss="modal">Cancel</button>
	                      </div>
                    </form>
                    </div>
                  </div>
                </div>
              </div><!-- End Add Modal-->
              
              <!-- Delete Modal -->
              <div class="modal fade" id="deleteVehicleModel" tabindex="-1" data-bs-backdrop="false">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Deleting a Vehicle Model</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
						<p>Are you sure you want to delete this record?</p>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-danger" id="confirmDelete">Yes, Delete</a>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    </div>
                  </div>
                </div>
              </div><!-- End Delete Modal-->
          
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>FleetApp</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="#">IskCode</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/jquery.js"></script> 
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/main.js"></script>
  <script src="assets/js/vehiclemodel.js"></script> 
  
  
</body>

</html>